*{
  margin: 0px;
  padding: 0px;
  font-family: 'Kaisei Tokumin', serif;
  color: gray;
}
body{
    background-color: lightgray;
   
}
nav{

    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 10px 20px rgb(29, 29, 32);
}



.front_cover {
    flex: 1;
    text-align: right;
  
    border-radius: 12px;
    
   
}

.front_cover ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
}

.mune ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 13px;
    position: relative;
}

li{
    color: #ffffff;
}

.front_cover ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
   
}
.front_page ul li::after{
    content: '';
    width: 0;
    height: 3px;
   
    display: block;
    margin: auto;
    text-align: center;
    transition: 0.5s;
}

.front_page ul li:hover::after{
    width: 100%;
}

nav img{
    width: 100px;
}


h4{
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
    padding-bottom: 20px;
}
img {vertical-align: middle;}

.barber_name{
  margin: auto;
}

.text {
    color: black;
    font-size: 40px;
    padding: 20px 12px;
    position: absolute;
    bottom: 500px;
    width: 100%;
    font-style: italic;
    position: absolute;
    text-align: center;
  }

  
/* footer style */

.footer_container
{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}
.footer {
    background-color:  #24262b;
}

.footer_row {
    display: flex;
    flex-wrap: wrap;
}


.footer_col {
    width: 25%;
    padding: 0 15px;
    padding-bottom: 10px;
}

.footer_col h4{
    font-size: 20px;
    color:  #ffffff;
    text-transform: capitalize;
    margin-bottom: 50px;
    font-weight: 500;
    padding-right: 50%;
    position: relative;
}

.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  #24262b;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
}

.footer_col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:  #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover{
    color: yellow;
    padding-left: 10px;
    
}

.footer_col .social_link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 60px 60px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color:  #ffffff;
    transition: all 0.3s ease;
}

.footer_col .social_link a:hover{
   
    background-color: white;
}


* {
    box-sizing: border-box;
  }
  
  img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:  gray;
}

/* Caption text */
.text_work{
  color: white;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:gray;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}


.map
{
 padding-top: 5000px;
}
  /*about the barber shop*/
  .about_shop
  {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background_video
  {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 70vh;
   
   
  }

  .back_video
  {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 70vh;
  
   
  }

  .about_shop p{
    color: white;
    size: 20px;
    padding: 20px 12px;
    bottom: 500px;
    width: 100%;
    font-size:200 px;
    font-weight: 600;
  }

  .text_about
  {
    color: black;
    font-size: 40px;
    padding: 20px 12px;
    position: absolute;
    bottom: 500px;
    width: 100%;
    font-style: italic;
    position: absolute;
    text-align: center;
  
  }

  .form_container
  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 2pc;
    
      width: 500px;
      margin-left: auto;
      margin-right: auto;
  
  }

  form
  {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
  }

  form h3
  {
    color: gray;
    font-weight: 800;
    margin-bottom: 20px;
  }

  form input,form textarea
  {
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: white;
    font-size: 16px;
  }

  form button{
    padding: 15px;
    background: blue;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;

  }
  #status
  {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
   
  }
  
  #status.success{
    background-color:gray;
   animation: status ease  forwards;
   
  }

  #status.error{
    background-color:gray;
   
    color: white;
     animation: status ease  forwards;
  }

  @keyframes status {
    0%{
      opacity: 1;
      pointer-events: all;
    }

    90%{
      opacity: 1;
      pointer-events: all;
    }

    100%{
      opacity: 0;
      pointer-events: none;
    }
  }

  p{
    color: white;
  }

  .barber_name a{
  
   
  
    
  
    border-radius: 8px;
    color: white;
    padding-top: 90px;
    
   
  }

  .appointmwnt ul li a
  {
   border-radius: 50px;
  }

  .text_barber
  {
    text-align: center;
    
  }

  .open_time{
    color: white;
    font-size: 40px;
    padding: 290px 50px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
   
   
  }

  .Address{
   
    color: white;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  
  }

  /*responsive*/
  @media (max-width:940px) {
      .barber_name .text
      {
    
        padding-bottom: 270px;
       
 
      }
  }
  @media (max-width:960px) {
    .barber_name .text
    {
  
      padding-bottom: 200px;
     

    }

    @media (max-width:412px) {
      .barber_name .text
      {
  
       width: 5px;
     

      }

      .footer_col h4{
        font-size: small;
      }

      .footer_col p{
        font-size: small;
      }

      .footer_col ul li a{
        font-size: small;
      }
  }

}

@media (max-width:960px) {
  .barber_name .text
  {
    width: 5px;
    padding-bottom: 200px;
   

  }

 
}

@media (max-width:384px) {
  .barber_name .text
  {

    width: 5px;
  
   padding-top: 600px;
 

  }

  .footer_col h4{
    font-size: small;
  }

  .footer_col p{
    font-size: small;
  }

  .footer_col ul li a{
    font-size: small;
  }
}

@media (max-width:375px) {
  .barber_name .text
  {

    width: 5px;
  
   padding-top: 1000px;
 

  }

  .footer_col h4{
    font-size: small;
  }

  .footer_col p{
    font-size: small;
  }

  .footer_col ul li a{
    font-size: small;
  }
}


@media (max-width:430px) {
  .barber_name .text
  {

    width: 5px;
  
   padding-bottom: 2700px;
 

  }

  .footer_col h4{
    font-size: small;
  }

  .footer_col p{
    font-size: small;
  }

  .footer_col ul li a{
    font-size: small;
  }
}



@media (max-width:360px) {
  .barber_name .text
  {

  width: 5px;
  
   
 

  }

  .footer_col h4{
    font-size: small;
  }

  .footer_col p{
    font-size: small;
  }

  .footer_col ul li a{
    font-size: small;
  }
}

@media (max-width:800px) {
    .barber_name .text
    {
      width: 5px;
    
    }

    .footer_col h4{
      font-size: small;
    }

    .footer_col p{
      font-size: small;
    }

    .footer_col ul li a{
      font-size: small;
    }
}